
@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'), 
  url('../fonts/FuturaPT-Book.woff') format('woff'); 
}
@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'), 
  url('../fonts/FuturaPT-Medium.woff') format('woff'); 
}
@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'), 
  url('../fonts/FuturaPT-Bold.woff') format('woff'); 
}

*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  height: 100%;
}
body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Futura PT';
  font-weight: 500;
  background-color: #F9F9F9;
  overflow-x: hidden;
} 
img{
  display: block;
  height: auto;
}
.container{
  max-width:1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Start header sytles  */
.header-top{
  padding-top: 14px;
  padding-bottom: 10px;
}
.header-top-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.header-top-list-item:first-child{
  margin-right: 106px;
}
.header-top-list-item:first-child::before{
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  content: "";
}

.header-top-list-item:nth-child(2){
  margin-right: 98px;
}
.location-link{
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  color: #333;
}
.tel-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.tel-list::before{
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../images/tel.svg");
  background-repeat: no-repeat;
  content: "";  
}
.tel-list-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tel-link{
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  color: #333;
  -webkit-transition: color 0.3s linear , opacity 0.3s linear;
  -o-transition: color 0.3s linear , opacity 0.3s linear;
  transition: color 0.3s linear , opacity 0.3s linear;
  
}
.tel-link:hover{
  color: #FFBD54;
}
.tel-list-item:nth-child(2)::before{
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 9px;
  margin-left: 9px;
  border-radius: 4px;
  background: #FFBD54;
  content: " ";
}
.tel-link:active{
  color: #333;
  opacity: 0.6;
}
.tel-list-item:nth-child(2)::after{
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 9px;
  margin-left: 9px;
  border-radius: 4px;
  background: #FFBD54;
  content: " ";
}
.time-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.time-list::before{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-image: url("../images/time-img.svg");
  background-repeat: no-repeat;
  content: "";
}
.time-list-item:first-child{
  margin-right: 17px;
}
.time-list-item{
  color: #333;
  font-size: 14px;  
  font-style: normal;
  line-height: normal;
}
/* header-top finish  */
/* header end start  */
.header-end{
  padding-top: 15px;
  padding-bottom: 19px;
  background-color: #fff;
}
.header-end-inner{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}
.site-logo-link{
  position: absolute;
  left: 0;
}
.site-logo:hover{
  opacity: 0.8;
}
.site-logo:active{
  opacity: 0.6;
}
.header-end-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 163px;
  margin-bottom: 0;
  list-style: none;
}
.header-end-list-item:not(:last-child){
  margin-right: 55px;
}
.header-end-list::before{
  display: inline-block;
  width: 20px;
  height: 19px;
  margin-right: 12px;
  background-image: url("../images/fish.svg");
  background-repeat: no-repeat;
  content: "";
  
}
.header-end-list-item-link{
  color: #333;
  font-size: 16px;
  text-decoration: none;
  line-height: normal;
  border-bottom: 4px solid transparent;
  -webkit-transition: border-color 0.3s linear, opacity 0.3s linear;
  -o-transition: border-color 0.3s linear, opacity 0.3s linear;
  transition: border-color 0.3s linear, opacity 0.3s linear;
}
.header-end-list-item-link:hover{
  border-color: #F4FFAD;
}
.header-end-list-item-link:active{
  opacity: 0.6;
}
.question-link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  font-size: 16px;
  line-height: normal;
  text-decoration: none;
  color: #333;
  -webkit-transition:color 0.3s linear, opacity 0.3s linear;
  -o-transition:color 0.3s linear, opacity 0.3s linear;
  transition:color 0.3s linear, opacity 0.3s linear;
}
.question-link:hover{
   color: #FFBD54;
}
.question-link:active{
  opacity: 0.6;
}
.question-link::before{
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-image: url("../images/pet.svg");
  background-repeat: no-repeat;
  content: "";
}
/* Finish heder styles  */

/* Start Main styles  */
.site-main{
  background-image: url("../images/bg.png");
}
 .services{
  padding-top: 111px;
  padding-bottom: 169px;
  background-image: url("../images/parot.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 496px) calc(50% - 766px);
 }
 .services__inner{
  display: inline-block;
  width: 550px;
  padding-bottom: 140px;
  padding-left: 112px;
  
 }
 .services__title{
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 70px;
  font-weight: 700;
  line-height: 64px; /* 91.429% */
  color: #333;
 }
 .services__desc{
  margin-top: 0;
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
 }
 .services__list{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 305px 30px 305px 30px 305px 30px 305px;
  grid-template-columns: repeat(4,305px);
  -ms-grid-rows: 420px 34px 420px 34px 420px;
  grid-template-rows: repeat(3,420px);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 34px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

 }
 .services__list > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;

 }
 .services__list > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;

 }
 .services__list > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 5;

 }
 .services__list > *:nth-child(4){
  -ms-grid-row: 1;
  -ms-grid-column: 7;

 }
 .services__list > *:nth-child(5){
  -ms-grid-row: 3;
  -ms-grid-column: 1;

 }
 .services__list > *:nth-child(6){
  -ms-grid-row: 3;
  -ms-grid-column: 3;

 }
 .services__list > *:nth-child(7){
  -ms-grid-row: 3;
  -ms-grid-column: 5;

 }
 .services__list > *:nth-child(8){
  -ms-grid-row: 3;
  -ms-grid-column: 7;

 }
 .services__list > *:nth-child(9){
  -ms-grid-row: 5;
  -ms-grid-column: 1;

 }
 .services__list > *:nth-child(10){
  -ms-grid-row: 5;
  -ms-grid-column: 3;

 }
 .services__list > *:nth-child(11){
  -ms-grid-row: 5;
  -ms-grid-column: 5;

 }
 .services__list > *:nth-child(12){
  -ms-grid-row: 5;
  -ms-grid-column: 7;

 }
 .services__item{
  border-radius: 5px 5px 0px 0px;
background: #FFF;
padding: 0 22px 45px 53px;
-webkit-transition:-webkit-box-shadow 0.3s linear;
transition:-webkit-box-shadow 0.3s linear;
-o-transition:box-shadow 0.3s linear;
transition:box-shadow 0.3s linear;
transition:box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
 }
 .card::before{
  position: relative;
  top: 0;
  right: 0;
  display: inline-block;
  width: 252px;
  height: 137px;
  content: "";
  background-image: url("../images/Group1.svg");
  background-repeat: no-repeat;

 }
 .card:nth-child(2)::before{
  background-image: url("../images/Group2.svg");
 }
 .card:nth-child(3)::before{
  background-image: url("../images/Group3.svg");
 }
 .card:nth-child(4)::before{
  background-image: url("../images/Group4.svg");
 }
 .card:nth-child(5)::before{
  background-image: url("../images/Group5.svg");
 }
 .card:nth-child(6)::before{
  background-image: url("../images/Group6.svg");
 }
 .card:nth-child(7)::before{
  background-image: url("../images/Group7.svg");
 }
 .card:nth-child(8)::before{
  background-image: url("../images/Group8.svg");
 }
 .card:nth-child(9)::before{
  background-image: url("../images/Group9.svg");
 }
 .card:nth-child(10)::before{
  background-image: url("../images/Group10.svg");
 }
 .card:nth-child(11)::before{
  background-image: url("../images/Group11.svg");
 }
 .card:nth-child(12)::before{
  background-image: url("../images/Group12.svg");
 }
 .card__title{
  margin-top: 21px;
  margin-bottom: 14px;
  font-size: 32px;
  font-weight: 600;
  line-height: 34px; /* 106.25% */
  color: #333;
 }
 .card__desc{
  padding-top: 0;
  padding-bottom: 26px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #949494;
 }
 .card__link{
  display: inline-block;
  width: 156px;
  padding: 15px 10px 14px;
  text-align: center;
  color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 450;
line-height: normal;
text-decoration: none;
  border-radius: 3px;
background-color: #FFBD54;
-webkit-transition: background-color 0.3s linear;
-o-transition: background-color 0.3s linear;
transition: background-color 0.3s linear;
 }
 .card:hover{
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);;
 }
 .card:nth-child(2n+1) .card__link:hover{
  background-color: #000;
 }
 .card:nth-child(even) .card__link{
  background-color: #78C0DE;
 }




/* Finish Main  */

/* Start Footer Styles  */
.site-footer{
  padding-top: 54px;
  padding-bottom:  23px;
  background: #F3F3F3;
}
.footer-inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 28px;
}
.footer-logo-link{
  text-decoration: none;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.footer-logo-link:hover{
  opacity: 0.8;
}
.footer-logo-link:active{
  opacity: 0.6;
}

.footer-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.footer-navigation-list{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.foot-list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.footer-navigation-list-item{
  width: 120px;
  margin-right: 58px;
}
.footer-navigation-list-item:nth-child(2){
  margin-right: 113px;
}
.footer-navigation-link{
  display: block;
  font-size: 16px;
  line-height: normal;
  color: #333;
  text-decoration: none;
  margin-bottom: 14px;
  -webkit-transition: color 0.3s linear, opacity 0.3s linear;
  -o-transition: color 0.3s linear, opacity 0.3s linear;
  transition: color 0.3s linear, opacity 0.3s linear;
}
.footer-navigation-link:hover{
  color: #FFBD54;
}
.footer-navigation-link:active{
  color: #333333;
  opacity: 0.7;
}
.footer-time-list{
  margin-top: 0;
  margin-right: 112px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.footer-list-item:nth-child(2){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-list-item:nth-child(2):before{
  display: inline-block;
  width: 14px;
  height: 15px;
  margin-top: 1px;
  margin-right: 14px;
  background-image: url("../images/time-img.svg");
  background-repeat: no-repeat;
  content: "";
}
.footer-list-item:nth-child(3){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-list-item:nth-child(3):before{
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-top: 3px;
  margin-right: 14px;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  content: "";
}
.footer-list-item:nth-child(4){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-list-item:nth-child(4):before{
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-top: 3px;
  margin-right: 14px;
  background-image: url("../images/tel.svg");
  background-repeat: no-repeat;
  content: "";
}
.footer-time-list-item{
  margin-bottom: 3px;
  color: #333;
font-size: 14px;
line-height: normal;
}
.footer-location-link{
  display: inline-block;
  width: 157px;
  margin-right: 87px;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  color: #333;
}
.footer-list-tel-link{
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  line-height: normal;
  text-decoration: none;
  color: #333;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.footer-list-tel-link:hover{
  color: #FFBD54;
}
.footer-list-tel-link:active{
  color: rgba(51, 51, 51, 0.70);
}
.footer-copyright{
text-align: end;
color: #5C5C5C;
text-align: right;
margin-top: 0;
margin-bottom: 0;
font-family: Futura PT;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}